{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 10"
        ],
      },
      "modules": false,
      "useBuiltIns": true,
    }],
    "react",
    "stage-2",
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
    }],
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
      ],
    },
  },
}
